*{
    padding: 0;
    margin: 0;
}
body{
	background-color: #edeff2;
	font-family: 'Open Sans',sans-serif;
}
button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}
:root{
    --button-color: #cfd7df;
}
a {
	text-decoration: none;
  }